@charset "UTF-8";

/* 回答はここに書いてね */
.box__style {
  display: inline-block;
}

.center {
  text-align: center;
}

.box__color {
  width: 90px;
  background-color: #E6F2FF;
  padding: 10px;
}

.margin__center {
  margin: auto;
}

.box__color2 {
  padding: 10px;
  background-color: #FFF;
  display: inline-block;
}

.father {
  display: table;
}
.center2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box__color3 {
  padding: 10px;
  background-color: #FFF;
}

.box__style2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position1 {
  position: relative;
}

.allzero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.transform {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 回答はここに書いてね */
